<h1>Teams</h1>

<div>
  Team Count: <%= @teams.count %>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Company name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_path(team), :style => 'color:white;' %></td>
    <td><%= team.company_name %></td>
    <td><%= team.email %></td>
    <td><%= team.phone %></td>
  </tr>
<% end %>
</table>

